* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
}

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.notification {
    background: rgb(255, 251, 0);
    border-radius: 5px;
    color:rgb(0, 38, 255);
    padding: 2rem;
    margin: 1rem;
}

button {
    background: rgb(0, 38, 255);
    color:rgb(255, 251, 0);
    padding: 1rem;
    border-radius: 5px;
    border: none;
}